*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --col-01: #272727;
    --col-02: #d263ab;
    --col-03: #32c485;
    --col-04: #7b7b7b;
    --border-01: dashed 2px white;
}

body {
    /* If the background image doesn't work, this will be the second option */
    background-color: var(--col-04);
    /* To get rid of the default bouncing effect which you can see when you scroll with nothing to scroll */
    overscroll-behavior: none;
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
    /* I've combined few images and edited their hue, saturation, and brightness to create the background with the theme of celebrations or party when you exchange the gifts */
    background-image: url(images/bgr4.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

/* This is the title words with shadow applied */
h1 {
    color: white;
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px 3px #272727;
    padding-top: 20px;
    padding-bottom: 5px;
}


.ListDiv {
    background-color: pink;
}


.Draggable {
   
    z-index: 9999;
    align-items: center;
   /*  float: left;  */
    margin: 0 auto; 
    /* To poisition them in the center */
    display: inline-block;
    justify-content: center;
    user-select: none;
   
}

/* This is the marquee effect wrapper div */
.text-wrapper {
    display: flex;
    justify-content: flex-start;
    background: var(--col-02);
    overflow: hidden;

}

/* Marque effect text settings */
h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: white;
    white-space: nowrap;
    padding: 0 6rem;
    letter-spacing: 1px;
    animation: move-rtl 15s linear infinite;
}

/* Marque effect animation settings */
@keyframes move-rtl {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


/* This is the btn that was applied on all draggable images */
.btn {
    background: transparent;
    border: none;
    z-index: 50;
}


.draggable-container {
    width: 100vw;
   /*  align-items: center;
    justify-content: center;  */
    text-align: center;
}

/* To fix the cupcake at the bottom of the page */
.cupcake {
    width: 400px;
    height: 500px;
    position: fixed;
    margin-left: -200px;
    padding: 5px;
    top: 62%;
    left: 50%;
}



